<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>recApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	
	<!-- App Transport Security Settings -->
	<key>NSAppTransportSecurity</key>
	<dict>
		<!-- Do not change NSAllowsArbitraryLoads to true, or you will risk app rejection! -->
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>

	<!-- Microphone Access -->
	<key>NSMicrophoneUsageDescription</key>
	<string>Need microphone access for uploading audio</string>

	<key>NSDocumentsFolderUsageDescription</key>
	<string>We need access to your documents folder to save audio files.</string>

	<!-- Location Access -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location access is required to improve user experience</string>

	<!-- Launch Screen -->
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>

	<!-- Required Device Capabilities -->
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>

	<!-- Supported Interface Orientations -->
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<!-- Status Bar Appearance -->
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
